@CHARSET "UTF-8";
/* 로그인 폼 */
#loginForm {		
	margin-top: 100px;
	padding-top: 30px;		
}
#loginForm h2, #loginForm p, 
#loginForm input, #loginForm label { 
	margin: 0px;
	padding: 0px;
	font-family: "맑은 고딕",돋움;
	font-size: 12px;
}		
#loginForm h2 {
	font-size: 40px;
	letter-spacing: -1px;
	color: #C8C8C8;
	text-align: center;
}
#loginForm legend {
	display: none;
}
#loginForm fieldset {
	width: 330px;
	margin: 10px auto;
	border: 5px solid #efefef;
	padding: 50px;
	border-radius: 15px;
}
#loginForm #login {
	float: left;
}
#loginForm label.labelStyle {
	width: 60px;
	display: block;
	float: left;
	font-weight: bold;	
}
#loginForm #userId, #loginForm #userPass {
	width: 150px;
	border: 1px solid #999;
	margin-bottom: 5px;
	padding: 2px;
}
#loginForm #btnLogin {
	display: block;
	background-color: #FF6633;
	border-radius: 5px;
	border-style: none;
	color: #fff;
	width: 80px;
	height: 57px;
	position: relative;
	float: left;
	left: 10px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}
#loginForm #btn1 {
	clear: both;
	margin-left: 60px;
	padding: 10px 0px;
}
#loginForm #btn1 label {
	font-size: 11px;
	vertical-align: middle;
}
#loginForm #btn1 input{
	height: 20px;
}
#loginForm #btn2 {
	margin-left: 60px;
}
#loginForm #btn2 input {
	background-color: #666;
	border-style: none;
	border-radius: 5px;
	color: #fff;
	height: 25px;
	padding: 5px 10px;
}

/* 회원 가입, 수정 폼 페이지 */
/* 페이지 초기화 */
#memberJoinForm {
	margin: 10px auto;
	width: 600px;	
}
#joinFormTitle {	
	width: 590px;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	font-size: 1.2em;
	text-align: center;
}
#memberInputDefault{	
	margin: 5px auto;
	padding: 10px;
	width: 588px; 
	background: #EBF3F9; 
	border: 1px solid #3A96D6; 
	border-radius: 5px;
}
#memberInputOption {
	margin: 5px auto;
	padding: 10px;
	width: 588px;
	border: 2px dotted #3A96D6; 
	background: #EBF3F9; 
	border-radius: 5px;
}
.memberInputText {
	height: 30px;
	line-height: 30px;
}
.memberSpan {
	display: inline-block; 
	width: 120px; 
	text-align: right; 
	margin-right: 10px;	
}
.formButton {
	margin-top: 15px; 
	text-align: center;
}

/* 회원 아이디 체크 페이지 */
#idCheckForm {
	margin: 20px auto;
	width: 340px;
	font-size:0.8em; 
}
#idCheckForm h3 {
	text-align: center;
	font-size: 1.2em;
}
.checkFormSpan {
	display: inline-block; 
	width: 50px; 
	text-align: right; 
	margin-right: 10px
}

/* 우편번호 검색 페이지 */
#searchZipcode {
	margin: 10px auto;
	padding: 5px;
	width: 360px;
	border: 0;
	border-collapse: collapse;	
	font-size: 0.8em;	
}
.zipcodeTitle {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
#inputDong {
	padding-top: 10px;
	text-align: center;
}
.inputDong {	
	display: inline-block;
	height: 25px;
	line-height: 25px;	
}
.notSearch {
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.zipcode {
	height: 25px;
	width: 40px;
}
.address {
	width: 255px;
	padding-left: 5px;	
}
.btn {
	width: 35px;	
}

